version: "3.9"

services:
  postgres_db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

  django:
    build: .
    command: gunicorn sutt_project.wsgi:application --bind 0.0.0.0:8000 --log-level info
    volumes:
      - static_files:/app/sutt_project/staticfiles
      - media_files:/app/sutt_project/media
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_files:/app/staticfiles:ro
      - media_files:/app/media:ro
    depends_on:
      - django
    restart: always

volumes:
  postgres_data:
  static_files:
  media_files:
